#wrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 10px;
}

.header__top {
    display: grid;
    grid-template-columns: 130px 184px;
    justify-content: space-between;
}

#header {
    margin: 0 auto;
    padding-top: 31px;
    max-width: 1180px;
}

.header {
    &__left {
        // display: grid;
    }
    &__right {
        display: inline-grid;
        grid-template-columns: 100px 49px;
        justify-content: space-between;
    }
}

.singup {
    display: grid;
}

.card {
    display: grid;
    text-align: right;
}

.header__bottom {
    display: grid;
    grid-gap: 147px;
    grid-template-columns: 5fr 118px;
    // grid-template-columns: minmax(550px, 915px) 120px;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-between;
    & li {
        display: block;
    }
}

form {
    padding-top: 15px;
}

#search {
    width: 100%;
    box-sizing: border-box;
}

.promoblock {
    width: 100%;
    display: block;
}

#main {
    margin: 0 auto;
    max-width: 1180px;
    & h1 {
        text-align: center;
    }
    & h2 {
        text-align: center;
    }
}

.arrivals {
    display: grid;
}

.aravials__one {
    grid-area: one;
}

.aravials__two {
    grid-area: two;
}

.aravials__two img {
    // width: 100%;
}

.aravials__three {
    grid-area: three;
}

.aravials__four {
    grid-area: four;
}

.baners {
    display: grid;
}

.baners__one {
    grid-area: one;
}

.baners__one img {
    width: 100%;
}

.baners__two {
    grid-area: two;
    text-align: center;
}

.baners__two img {
    width: 100%;
}

.baners__three {
    text-align: center;
    grid-area: three;
    // width: 265px;
}

#footer {
    margin: 0 auto;
    max-width: 1180px;
    padding-bottom: 10px;
}

.footer-top {
    display: grid;
}

.footer-top__left {
    grid-area: header1;
    display: grid;
    & ul {
        display: block;
        // width: 265px;
        list-style: none;
        padding-left: 0px;
    }
}

.footer-top__right {
    grid-area: header2;
    display: grid;
    // grid-template-rows: auto;
}

.quik_links {
    width: 100%;
}

.castomer_care {
    width: 100%;
}

.questions {
    grid-area: header1;
    width: 100%;
}

.order_by_phone {
    grid-area: header2;
    width: 100%;
}

.footer-top {
    margin-bottom: 100px;
}

.footer-top__right>.textblock {
    grid-area: main;
}

.footer-top__right>ul {
    grid-area: footer;
    padding-left: 0;
    list-style: none;
}

.footer-top__right>ul li {
    display: inline-block;
}

.footer-bottom {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    width: 100%;
}

.footer-bottom__right ul {
    grid-area: footer;
    display: block;
    padding-left: 0;
    text-align: right;
}

.footer-bottom__right ul li {
    display: inline-block;
}

.footer-bottom__center {
    text-align: center;
}

@media screen and (min-width: 881px) {
    .footer-top {
        grid-template: 1fr/1fr 1fr;
        grid-template-areas: "header1 header2";
    }
    .footer-top__left {
        grid-template: 1fr/ 1fr 1fr;
        // justify-content: space-around;
    }
    .footer-top__right {
        padding-left: 59px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header1 header2" "main main" "footer footer";
    }
    .footer-top__right>.textblock {
        max-width: 300px;
    }
}

@media screen and (max-width: 880px) {
    .footer-top {
        grid-template: 1fr 1fr/1fr;
        grid-template-areas: "header1" "header2";
    }
    .footer-top__left {
        grid-area: header1;
        grid-template: 1fr/ 1fr 1fr;
        // justify-content: space-around;
    }
    .quik_links {
        text-align: center;
    }
    .castomer_care {
        text-align: center;
    }
    .footer-top__right {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header1 header2" "main main" "footer footer";
    }
    .questions {
        text-align: center;
    }
    .order_by_phone {
        text-align: center;
    }
    .footer-top__right>ul {
        text-align: center;
    }
    .footer-top__right>.textblock {}
}

@media screen and (min-width: 1011px) {
    .arrivals {
        grid-template: 1fr/1fr 1fr 1fr 1fr;
        grid-template-areas: "one two three four";
        justify-content: space-between;
        text-align: center;
    }
}

@media screen and (min-width: 415px) and (max-width: 1010px) {
    .arrivals {
        grid-template: 1fr 1fr/1fr 1fr;
        grid-template-areas: "one two" "three four";
        justify-content: space-between;
        text-align: center;
    }
}

@media screen and (min-width: 1181px) {
    .baners {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "one two three";
        justify-content: space-between;
    }
    .baners__three {
        text-align: center;
    }
}

@media screen and (min-width: 1001px) {
    .menu {}
}

@media screen and (max-width: 1000px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width: 415px) and (max-width: 1180px) {
    .baners {
        grid-template-areas: "one one" "two three";
        justify-content: space-around;
    }
    .baners__three {
        width: 100%;
        text-align: center;
    }
    .baners__one {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 414px) {
    .arrivals {
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "one" "two" "three" "four";
        justify-content: space-around;
    }
    .baners {
        grid-template-areas: "one" "two" "three";
        justify-content: space-around;
    }
    .baners__three {
        height: 385px;
    }
}