extends ../base

block title 
    title index page
    
block main
    #wrapper
        header#header
            .header__top
                .header__left Template
                .header__right
                    .singup E-mail sing up
                    .card Bag
            .header__bottom
                nav
                    ul.menu
                        li Women
                        li Men
                        li Handbags
                        li Accessiories
                        li Sale
                        li New Arrivals
                        li Clearance
                        li Store Locator
                form(action="#", method="get")
                    input(type="text", name="search" id="search")
        main#main
            img(src="./src/pages/index/promo.jpg", alt=""  class="promoblock")
            ul.baners
                li
                    img(src="./src/pages/index/images/nike.jpg", alt="")
                li
                    img(src="./src/pages/index/images/05.jpg", alt="")
                li
                    h2 Caps & Hats
                    p Sale -50%
            h1 New arrivals
            ul.arrivals
                li
                    img(src="./src/pages/index/images/01.jpg", alt="")
                    p Straight Leg Jeans
                    p $55.00
                li 
                    img(src="./src/pages/index/images/02.jpg", alt="")
                    p Straight Leg Jeans
                    p $55.00
                li
                    img(src="./src/pages/index/images/03.jpg", alt="")
                    p Straight Leg Jeans
                    p $55.00
                li
                    img(src="./src/pages/index/images/04.jpg", alt="")
                    p Straight Leg Jeans
                    p $55.00
            h2 All arivals
        footer#footer
            .footer-top
                .footer-top__left
                    .quik_links
                        h4 Quick links
                        ul
                            li Store locator
                            li Gift cards
                            li Size guide
                            li About us
                            li Support
                    .castomer_care
                        h4 Castomer care
                        ul               
                            li Store locator
                            li Gift cards
                            li Size guide
                            li About us
                            li Support
                .footer-top__right
                    .questions 
                        h4 Questions
                        p Tweet us @template
                    .order_by_phone 
                        h4 Order by phone
                        p 8-800-409-47-12
                    p.textblock We have our own delivery service which operates in 23 major Eur 
            //-         ul
            //-             li fb
            //-             li tw
            //- .footer-bottom
            //-     .footer-bottom__left &copy;2010-2015, The Template Group inc
            //-     .footer-bottom__center Share 1 437
            //-     .footer-bottom__right
            //-         ul
            //-             li Legal notice
            //-             li Privacy policy
            //-             li Site mup

                    
                



                    
            
            

            

    




