@media screen and (max-width: 600px) {
    .footer-top {
        display: grid;
        grid-template: 1fr/1fr;
        grid-template-areas: "header1";
    }
    // .footer-top {
    //     display: grid;
    //     grid-template: 1fr/1fr 1fr;
    // }
    // .footer-top__left {
    //     display: grid;
    //     grid-template: 1fr/ 1fr 1fr;
    //     justify-content: space-between;
    //     justify-items: start;
    //     & ul {
    //         display: block;
    //         // width: 265px;
    //         list-style: none;
    //         padding-left: 0px;
    //     }
    // }
    // .footer-top__right {
    //     padding-left: 59px;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-rows: auto;
    //     grid-template-areas: "header1 header2" "main main" "footer footer";
    // }
    // .quik_links {
    //     width: 100%;
    // }
    // .castomer_care {
    //     width: 100%;
    // }
    // .questions {
    //     grid-area: header1;
    //     width: 100%;
    // }
    // .order_by_phone {
    //     grid-area: header2;
    //     width: 100%;
    // }
    // .footer-top {
    //     margin-bottom: 100px;
    // }
    // .footer-top__right>.textblock {
    //     grid-area: main;
    //     // display: grid;
    //     max-width: 300px;
    // }
    // .footer-top__right>ul {
    //     grid-area: footer;
    //     padding-left: 0;
    //     list-style: none;
    // }
    // .footer-top__right>ul li {
    //     display: inline-block;
    // }
    // .footer-bottom {
    //     display: grid;
    //     grid-template: 1fr/1fr 1fr 1fr;
    //     width: 100%;
    // }
    // .footer-bottom__right ul {
    //     grid-area: footer;
    //     display: block;
    //     padding-left: 0;
    //     text-align: right;
    // }
    // .footer-bottom__right ul li {
    //     display: inline-block;
    // }
    // .footer-bottom__center {
    //     text-align: center;
    // }
}